@font-face {
  font-family: kumbhSansLight;
  src: url(fontes/static/KumbhSans-Light.ttf);
}

@font-face {
  font-family: kumbhSansMedium;
  src: url(fontes/static/KumbhSans-Medium.ttf);
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.grid-footer-1 {  
    display: grid;
    width: 100vw;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    /*padding: 50px 0px 0px 50px; top, right, bottom, left*/
    grid-template-areas: "grid1 grid3 grid5 grid7 grid9"
                         "grid2 grid4 grid6 grid8 ."
                         "grid10 grid10 grid10 grid10 grid10";
    background-color: #ffffff;
    justify-content: center;
  }
h1 { 
font-family: kumbhSansLigh t;
color: #3AB0DE;
}
p {
  font-family: kumbhSansLight;
  color: #8ecde5;
}
.titulo {
  font-family: kumbhSansMedium;
  color: #28a6d8;
}

/*
.footer-campo-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-campo-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-campo-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-campo-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-campo-5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-campo-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-campo-7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-campo-8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-campo-midia-social {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.footer-criador {
  display: grid;
  grid-column-start: 1 ;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: end;
  justify-items: end;
  border-top: #dbdbdb solid 1px;
}
*/
.fa-brands {
  font-size: 30px;
  padding-right: 10px;
}
.fa-facebook {
  color: #1771E6;
}
.fa-twitter {
  color: #00A2E4;
}

.footer-campo-1 {
  grid-area: grid1;
}
.footer-campo-2 {
  grid-area: grid2;
}
.footer-campo-3 {
  grid-area: grid3;
}
.footer-campo-4 {
  grid-area: grid4;
}
.footer-campo-5 {
  grid-area: grid5;
}
.footer-campo-6 {
  grid-area: grid6;
}
.footer-campo-7 {
  grid-area: grid7;
}
.footer-campo-8 {
  grid-area: grid8;
}
.footer-campo-midia-social {
  grid-area: grid9;
  justify-items: center;
  align-items: center;
}
.footer-criador {
  display: grid;
  /*border-top: #000000 solid 1px;*/
  grid-area: grid10;
  justify-items: end;
  background-color: #ffffff;
  margin-right: 50px;
}
/*
.footer-campo-1, .footer-campo-2,
.footer-campo-3, .footer-campo-4,
.footer-campo-5, .footer-campo-6,
.footer-campo-7, .footer-campo-8,
.footer-campo-9 {
}
*/